<div class="jumbotron">
  <h1 class="display-4">Welcome to medz Stock Ticker</h1>
  <p class="lead">
	<br/><br/>
	Type a stock symbol in the search bar to start.
  </p>
  <form class="form-inline my-2 my-lg-0" action ="/" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Lookup Stock Quote" aria-label="Search" name="stock_ticker">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Lookup</button>
    </form>
  
</div>
